<!doctype html>
<html>
<head>
  <title>Temperature Sensor</title>
  <link type="text/css" src="css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="js/angular.min.js"></script>

<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script type="text/javascript" src="js/controllers/MainController.js"></script>

  <style type="text/css">
    span.finished { cursor: pointer; color: blue; text-decoration: underline; }
    div.eci input { visibility: hidden; }
    div.eci:hover input { visibility: visible; }
  </style>
</head>
<body ng-app="sensor" ng-controller="MainCtrl">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="page-header"> 
  <h1>Wovyn Temperatures</h1>
</div>
  <table style="width:100%;text-align:left">
      <tr>
        <th>Current Temperature</th>
        <th>Recent Temperatures</th> 
        <th>Temperature Violations</th>
      </tr>
      <tr>
        <td>75.5</td>
        <td>
            <div ng-repeat="temperature in temperatures">
              {{temperature.temperature}} ----
              {{temperature.time}}
            </div>
        </td> 
        <td>
            <div ng-repeat="temperature in violations">
              {{temperature.temperature}} ----
              {{temperature.time}}
            </div>
        </td>
      </tr>
  </table>
  <form ng-submit="changeThreshold()" style = "margin-top:30px;">
    Change Future Temperature Threshold:
    <input type="text" ng-model="low" placeholder="low"></input>
    <input type="text" ng-model="high" placeholder="high"></input>
    <button type="submit">Submit</button>
  </form>
  <form ng-submit="changeNumber()" style = "margin-top:30px;">
    Change Phone Number
    <input type="text" ng-model="number" placeholder="+12567634268"></input>
    <button type="submit">Submit</button>
  </form>
  <div class="eci"> <!-- Change eci if needed -->
    <input type="text" ng-model="eci" size="29"></input>
  </div>
</div>
</div>
</body>
</html>
